*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    position: relative;
    transition-duration: 2s;
    background-color: #fff;
}
/* start header */
header {
    max-width: 1440px;
    height: 76px;
    margin: 0 auto;
    background-color: #fff;
    border-bottom: 1px solid #F8E0FB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    position: relative;
    z-index: 7;
    /* position: fixed; */
}

header img {
    width: 151px;
    height: 40px;
    margin-right: 32px;
}

.menu__wrapper {
    display: flex;
}
.menu__wrapper a {
    color: var(--Black, #000);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px; /* 125% */
    opacity: 0.5;
    text-decoration: none;
    display: flex;
    margin-right: 32px;
    white-space: nowrap;
}
.menu__wrapper a:hover {
    color: #e644ff;
}
/* end header */

/* start section__sellNFT */
.section__sellNFT {
    display: flex;
    flex-flow: column;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}

.section__sellNFT h1 {
    margin: 0 auto;
    color: var(--Black, #000);
    text-shadow: -5px 5px 0px #FFF;
    font-size: 80px;
    font-weight: 700;
    line-height: 96px; /* 120% */
    margin-top: 117px;
    text-align: center;
}

.section__sellNFT p {
    color: var(--Accent, #532C59);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    padding-top: 32px;
    margin-bottom: 32px;
}

.section__sellNFT button {
    display: flex;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #532C59;
    width: 114px;
    color: var(--White, #FFF);
    font-family: Syne;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px; /* 125% */
    margin: 0 auto;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    outline: none;
}

.sellNFT__bg {
    position: absolute;
    width: 1440px;
    height: 499px;
    left: 0px;
    top: 57px;
    background: radial-gradient(50% 50% at 50% 50%, #E36CE6 0%, rgba(255, 255, 255, 0.00) 100%);
    opacity: 0.4;
    filter: blur(116px);

    z-index: -1;
}

.section__sellNFT img {
    position: absolute;
}

.sellNFT__img1 {
    width: 173px;
    height: 174px;
    top: 5px;
    left: 53px;
}

.sellNFT__img2 {
    width: 111px;
    height: 112px;
    top: 30px;
    right: 167px;
}

.sellNFT__img3 {
    width: 211px;
    height: 211px;  
    top: 387px;
    right: 33px;
}

.sellNFT__img4 {
    width: 299px;
    height: 300px;
    top: 298px;
    left: -16px;
}
/* end section__sellNFT */

/* start section__partners */
.section__partners {
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 101px;
}

.section__partners .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    padding: 40px 0;
}
/* end section__partners */

/* start section__team */
.section__team {
    display: flex;
    flex-flow: column;
    margin-top: 80px;
}

.nft__h2 {
    color: var(--Black, #000);
    text-align: center;
    font-family: Syne;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px; /* 133.333% */
    margin-bottom: 24px;
}

.nft__h3 {
    color: var(--Accent, #532C59);
    text-align: center;
    font-family: Space Grotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin: 0;
}

.section__team .wrapper {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 160px;
    padding-top: 80px;
}

.team__wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 100px;
}

.team__wrapper img {
    width: 80px;
    height: 80px;
}

.team__wrapper p {
    color: var(--Black, #000);
    text-align: center;
    font-family: Space Grotesk;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    margin: 12px 0;
    white-space: nowrap;
}

.team__wrapper span {
    color: var(--Accent, #532C59);
    text-align: center;
    font-family: Space Grotesk;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px; /* 142.857% */
}
/* end section__team */

/* start section__collection */
.section__collection {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 1440px;
}

.section__collection .wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 64px;
}

.collection__wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 412px;
    margin: 0 16px;
    margin-bottom: 64px;
}

.collection__wrapper p {
    color: var(--Black, #000);
    text-align: center;
    font-family: Syne;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px; /* 131.25% */
    margin: 0;
    padding-bottom: 12px;
    margin-top: 16px;
}

.collection__wrapper span {
    color: var(--Accent, #532C59);
    text-align: center;
    font-family: Space Grotesk;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
/* end section__collection */

/* start section__provide */
.section__provide {
    display: flex;
    flex-flow: column;
}

.section__provide .wrapper {
    display: flex;
    flex-flow: row wrap;
    padding-top: 56px;
    margin: 0 auto;
}
.provide__wrapper {
    width: 301px;
    margin: 0 16px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 100px;
}

.provide__wrapper p {
    color: var(--Black, #000);
    text-align: center;
    font-family: Space Grotesk;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px; /* 128.571% */
    margin: 12px 0;
}

.provide__wrapper span {
    color: var(--Accent, #532C59);
    text-align: center;
    font-family: Space Grotesk;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px; /* 142.857% */
}
/* end section__provide */

/* start section__qanda */
.section__qanda {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
}

.section__qanda .wrapper1 {
   margin-right: 32px;
}

.qa__wrapper {
    padding: 24px;
    border-radius: 15px;
    border: 2px solid var(--purple-30, #D6BCFA);
    background: #fcfaff;
    position: relative;
    max-width: 412px;
    height: fit-content;
    margin-bottom: 24px;
}

.qa__wrapper p {
    color: var(--Black, #000);
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px; /* 130% */
    opacity: 0.8;
    margin: 0 15px 0 0;
    padding-bottom: 12px;
}

.qa__wrapper span {
    color: var(--Accent, #532C59);
    font-family: Space Grotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    display: flex;
    overflow: hidden;
    transition: .3s;
}

.qa__wrapper svg {
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
}

.section__qanda .text__wrapper {
    display: flex;
    flex-flow: column;
    margin-right: 32px;
    max-width: 412px;
}

.section__qanda h2 {
    color: var(--Black, #000);
    font-family: Syne;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px; /* 133.333% */
    margin-bottom: 24px;
    margin-top: 0;
}

.section__qanda h3 {
    color: var(--Accent, #532C59);
    font-family: Space Grotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin: 0;
}
/* end section__qanda */

/* start section__ready */
.section__ready {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
    margin-top: 90px;
    margin-bottom: 160px;
}
.ready__wrapper {
    border-radius: 60px;
    border: 1px solid var(--purple-30, #D6BCFA);
    background: #FCFAFF;
    box-shadow: 0px 0px 50px 0px #F8E0FA inset;
    position: relative;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    width: 1300px;
    height: 446px;
}

.ready__wrapper  img{
    position: absolute;
}

.ready__wrapper  img:first-child {
    left: 0
}

.ready__wrapper img:nth-child(2) {
    right: 0;
}

.ready__wrapper h2 {
    color: var(--Black, #000);
    text-align: center;
    font-family: Syne;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    margin-top: 0;
    margin-bottom: 16px;
}

.ready__wrapper h3 {
    color: var(--Accent, #532C59);
    text-align: center;
    font-family: Space Grotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-top: 0;
    margin-bottom: 32px;
}

.ready__wrapper button {
    font-family: Syne;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px; /* 125% */
    background-color: #532C59;
    color: var(--White, #FFF);
    border-radius: 15px;
    outline: none;
    padding: 16px 20px;
    cursor: pointer;
}
/* end section__ready */

/* start footer */
footer {
    max-width: 1440px;
    margin: 80px auto 0;
    display: flex;
    flex-flow: column;
    padding: 0 70px;
}
footer .top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 41px;
    border-bottom: 1px solid #CCD5DF;
}

footer a {
    color: var(--Black, #000);
    font-family: Space Grotesk;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    opacity: 0.5;
    text-decoration: none;
}

footer .top .a__wrapper {
    display: flex;
    gap: 24px;
}

footer .bottom {
    text-align: center;
    padding: 40px 0;
    color: var(--Black, #000);
    font-family: Space Grotesk;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    opacity: 0.5;
}

/* end footer */


























/* start menu-burger */
.test {
    width: 300px;
    height: 620px;
    background-color: #ebb0b0;
    position: absolute;
    left: calc(50% - 150px);
    transition: 2s;
    transform: translateY(-720px);
    z-index: 5;
}

.burger {
    display: flex;
    flex-flow: column;
    gap: 9px;
    display: none;
}

.line {
    width: 50px;
    height: 4px;
    background-color: black;
}

.active {
    transition: 2s;
    transform: translateY(50px);
    z-index: 5;
    opacity: .98;
    position: fixed;
}

.active-body {
    transition-duration: 2s;
    background-color: #d2d2d2;
}

.menu__burger {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 50px;
    margin: 100px;
}

.menu__burger a {
    text-decoration: none;
    transition: .5s;
    color: aliceblue;
    font-size: 18px;
    white-space: nowrap;
}

.menu__burger a:hover {
    color: #000;
    transition: 1s;
}
/* end menu-burger */


